.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.mainBtn{
    width: 10rem;
  height: 50px;
  margin: 5px;
  font-size: 16px;
  background-color: #0086ff;
  color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s ease;
}

.mainBtn:hover{
    box-shadow: none;
    color:#39a1fe;
    transform: scale(1.05);
}