
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .first-div h2{
    color: green;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .first-div, .second-div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .first-div {
    padding-top: 5%;
    
  }
  
  .second-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }